<html>
<body>

<h1>カレンダー一覧</h1>

<table>
<tr>
<th>ID</th>
<th>Summary</th>
</tr>

#foreach ($entry in $entryList)
<tr>
<td>$entry.id</td>
<td>$entry.summary</td>
</tr>
#end

</table>

</body>
</html>
